matplotlib
numpy
pillow
pyyaml
requests
scipy
torch==2.5.1
torchvision==0.20.1
tqdm
psutil
py-cpuinfo
thop
pandas
seaborn
onnxruntime
opencv-python==4.11.0.86
typing-extensions>=4.12.0
ultralytics==8.1.47
boto3
python-dotenv
