tensorflow==2.12.0; platform_machine != "arm64" or platform_system != "Darwin"
tensorflow-macos==2.12.0; platform_machine == "arm64" and platform_system == "Darwin"
tensorflow-io-gcs-filesystem==0.31.0; sys_platform == "win32"
tensorflow-io-gcs-filesystem==0.34.0; sys_platform != "win32"
keras-data-format-converter==0.1.24
onnx==1.13.0
onnxruntime==1.17.3
numpy==1.23.5
protobuf>=3.20.3,<4
